/* General Settings */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    --color1: #4FD19C;
    --color2: #2F4858;
    --color3: #266275;
    --color4: #7AFFCA;
    --color5: #067E8C;

}

body {
    background-color: var(--color1);

}

/* Navigation and logo */
nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

nav img {
    height: 100px;

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;

}

nav li {
    width: 25%;
    padding: 10px;
    text-align: center;

}

nav a {
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    color: var(--color2);
    font-size: 180%;
    margin: 0 auto;
}

nav a:hover {
    border-bottom: 1px solid var(--color3);
}

.active {
    border-bottom: 1px solid var(--color3);
}

.hero-container {
    display: flex;
    justify-content: center;
    margin: 80px;
    margin-bottom: 145px;
}

.profile-pic {
    background: url(../images/profilepic.png) top center;

    width: 33%;
    overflow: hidden;
    border: 20px solid var(--color3);
    border-radius: 70px 0px 0px;
}


.description {
    background-color: var(--color3);
    width: 67%;
    border: 20px double var(--color4);
    border-radius: 0px 0px 70px;
    font-family: "Space Mono", sans-serif;
    font-size: 1.5vw;
    color: var(--color4);
    text-transform: uppercase;
    position: relative;
}

.description p {
    margin-left: 50px;
    font-size: 2.8vw;
}

.tools {
    margin-top: 130px;
    font-size: 1.3rem;
    margin-left: 20px;
}

#firstName {
    text-transform: uppercase;
    color: var(--color4);
    font-size: 7.7vw;
    font-family: "Space Mono", sans-serif;
    text-align: center;
    line-height: 120px;
    position: absolute;
    top: 14%;
}

#lastName {
    text-transform: uppercase;
    color: var(--color4);
    font-size: 7.7vw;
    font-family: "Space Mono", sans-serif;
    text-align: center;
    line-height: 120px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

footer {
    height: 100px;
    width: 100%;
    margin-top: 50px;


}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100px;
    background-color: var(--color3);
}

footer a {
    font-size: 50px;
    color: var(--color4);
}



/* Gallery */
#gallery-title {
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", sans-serif;
    color: var(--color2);
    /* text-transform: uppercase; */
    text-decoration: underline;
}

#gallery-container {
    margin: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
}

.art {
    position: relative;

}

.art img,
.art video {
    width: 100%;

}

.presentation {
    display: none;
    position: absolute;
    background-color: rgba(6, 126, 140, 0.7);
    bottom: 1px;
    padding: 5px;

}

.presentation span {
    font-family: "Space Mono", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--color1);
}

.art:hover .presentation {
    display: block;
}

*/
/* About  */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.about-container div {
    margin-bottom: 20px;
    background: var(--color2);
    color: var(--color4);
    font-family: "Roboto Mono", sans-serif;
    padding: 20px;
    /* border: 20px double var(--color4); */
}

.about-container h3 {
    text-transform: uppercase;
    font-family: "Space Mono", sans-serif;
}

.about-me {
    border-radius: 20px 0 0 20px;
    margin-left: 15%;
    animation: translateRight 2s forwards;
    transform: translateX(100vw);
    border-top: 20px double var(--color4);
    border-left: 20px double var(--color4);
    border-bottom: 20px double var(--color4);
    display: flex;
}

.about-me p {
    padding-bottom: 10px;
    padding-right: 300px;
}

.about-me i {
    font-size: 15rem;
    margin-top: 20px;

}

.awards {
    text-align: right;
    margin-right: 15%;
    border-radius: 0 20px 20px 0;
    animation: translateLeft 2s forwards;
    animation-delay: 2s;
    transform: translateX(-100vw);
    border-top: 20px double var(--color4);
    border-right: 20px double var(--color4);
    border-bottom: 20px double var(--color4);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

}

.awards i {
    font-size: 15rem;
    margin-top: 20px;

}

.features {

    border-radius: 20px 0 0 20px;
    margin-left: 15%;
    animation: translateRight 2s forwards;
    animation-delay: 4s;
    transform: translateX(100vw);
    border-top: 20px double var(--color4);
    border-left: 20px double var(--color4);
    border-bottom: 20px double var(--color4);
    display: flex;
    justify-content: space-around;
}

.features a {
    color: var(--color4);
    text-decoration: underline;
}

.features i {
    font-size: 15rem;
    margin-top: 20px;

}

/* Contact Form */

.contact-me {
    font-family: "Space Mono", sans-serif;
    color: var(--color4);
    margin: 0 50px;
    background-color: rgba(47, 72, 88, 1);
    border-radius: 20px;

}

.contact-me h3 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

form {
    padding: 50px;
    font-size: 2rem;
    line-height: 40px;


}

.textinput {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 10px double var(--color4);
    border-radius: 0px 20px 20px 0px;

}

#message {
    resize: none;
    width: 100%;
    background: transparent;
    border: 10px double var(--color4);
    border-radius: 0px 20px 20px 0px;
}

#submit {
    width: 50%;
    font-size: 1.5rem;
    color: var(--color3);
    font-family: "Space Mono", sans-serif;
    border: 10px double var(--color3);
    border-radius: 0px 20px 20px 0px;
    background-color: var(--color4);
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}


@keyframes translateRight {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes translateLeft {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}



@media screen and (min-width:1700px) {
    #firstName {

        top: 20%;
    }

}

@media screen and (max-width:800px) {

    header {
        margin-bottom: 240px;
    }

    nav {
        display: block;
        margin: auto;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-right: 0;

    }

    .hero-container {
        display: block;
        width: 80%;
        margin: auto;

    }

    .profile-pic {
        width: 100%;
        height: 500px;
    }

    .description {
        width: 100%;
    }

    #firstName {
        left: 0;
        top: 0;

    }

    #lastName {

        top: 12%;
        bottom: 0;
        right: 0;
    }

    #gallery-container {

        grid-template-columns: 50% 50%;
    }

    .art:hover .presentation {
        display: none;
    }

    .about-container {
        margin-top: 300px;
    }

    .about-me {
        display: block;
    }

    .about-me p {
        padding-right: 10%;
    }

    .awards {
        display: block;
    }

    .features {
        display: block;
    }

    .contact-me {
        margin: 0 10px;
    }

    .contact-me h3 {
        font-size: 2rem;
    }

    form {
        padding: 10px;
        text-align: center;
    }

    #submit {
        width: 100%;
    }
}