* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header img {
    height: 100px;
    margin-left: 50px;
}

nav {
    width: 66%;
    height: 50px;
    float: right;
}

nav li {
    float: right;
    margin-left: 20px;
}